accelerate==0.29.3
transformers==4.39.3
peft==0.11.1
bitsandbytes==0.43.1
loguru==0.7.2
numpy==1.26.4
pandas==2.2.1
tqdm==4.66.4
deepspeed==0.14.2
sentencepiece==0.2.0
transformers-stream-generator==0.0.5
tiktoken==0.6.0
einops==0.8.0
httpx
scipy
torch==2.2.2
datasets==2.16.1
trl
wandb