accelerate
transformers>=4.44.2
peft
bitsandbytes
loguru
numpy==1.26.4
pandas
tqdm
deepspeed==0.16.3
sentencepiece
transformers-stream-generator
tiktoken
einops
torch==2.5.0
datasets
trl
wandb
PIL
vllm==0.7.2
swanlab